<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<form method="POST" class="post-form" action="/hotel">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Hotel Id:</label>
    <div class="col-sm-4">
      {{ form.hotelid }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Hotel Name:</label>
    <div class="col-sm-4">
      {{ form.hotelname }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>
</body>
</html>
