<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Hotel ID</th>
        <th>Hotel Name</th>

    </tr>
    </thead>
    <tbody>
{% for hotel in hotels %}
    <tr>
        <td>{{ hotels.hotelid}</td>
        <td>{{ hotels.hotelname }}</td>

        <td>
            <a href="/edit/{{ hotels.hotelid }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ hotels.hotelid }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/hotel" class="btn btn-primary">Add New Hotel</a></center>
</body>
</html>
